@import url('https://fonts.cdnfonts.com/css/tf2-build');
@import url('https://fonts.cdnfonts.com/css/tf2-secondary');


.bg {
  background-color: lightgrey;
}

.container {  display: grid;
    grid-template-columns: 1fr 0.8fr 1.2fr;
    grid-template-rows: 0.4fr 1fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Computer-Constructor Computer-Constructor Navigation"
      "Clicker Tabs Tabs"
      "Munee Munee Munee";
  }
  
  .Clicker { grid-area: Clicker; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Computer-Constructor { grid-area: Computer-Constructor; }
  
  .Navigation { grid-area: Navigation; }
  
  .Tabs { grid-area: Tabs; 
    overflow: scroll;
  }
  
  .Munee { grid-area: Munee; 
  }

  .tabContainer {  display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Image1 Upgrade1"
      "Image2 Upgrade2"
      "Image3 Upgrade3"
      "Image4 Upgrade4";
      height: 55vh;
  }
  
  .Image1 { grid-area: Image1; }
  
  .Image2 { grid-area: Image2; }
  
  .Image3 { grid-area: Image3; }

  .Image4 { grid-area: Image4; }
  
  .Upgrade1 { grid-area: Upgrade1; }
  
  .Upgrade2 { grid-area: Upgrade2; }
  
  .Upgrade3 { grid-area: Upgrade3; }

  .Upgrade4 { grid-area: Upgrade4; }
  

  .title {
    font-size: 50px;
    font-family: tf2 build;
    color: lightblue;
    background-color: rgb(8, 77, 42);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: solid white;
    display: flex;
    align-items: center;
  }

  .nav {
    font-size: 35px;
    font-family: tf2 build;
    color: lightblue;
    background-color: rgb(8, 77, 42);
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid white;
    display: flex;
    align-items: center;
    padding-left: 140px;
  }

  .clickerpane {
    height: 410px;
  }

  .profit {
    font-size: 35px;
    font-family: tf2 build;
    color: lightblue;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .upgradeSubtab {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .textStyle {
    font-family: tf2 build;
    color: lightblue;
  }

  .textStyle2 {
    font-family: tf2 build;
    color: lightgreen;
  }

  .textStyle3 {
    font-family: tf2 secondary !important;
  }
  
  .clickerButton {
    padding-top: 0vh;
    padding-bottom: 0vh;
    padding-left: 0vw;
    padding-right: 0vw;
    margin-left: 15px;
    margin-right: 50px;
    margin-top: 15px;
    background-color: white;
    border: solid white;
    border-radius: 3px;
    transition: transform 0.2s ease;
  }
  
  .upgradeButton {
    font-size: 20px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: white;
    border: solid white;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .upgradeImage {
    height: 107px;
    margin-left: 220px;
  }

  .back {
    background-color: rgb(8, 77, 42);
    border: solid white;
  }

  button:disabled {
    color: red;
    background-color: lightgray;
    pointer-events: none;
  }

.clickerImage{
  height: 290px;
  cursor: pointer;
}

.clickerButton:active {
  transform: scale(0.72);
}

.upgradeButton:active {
  transform: scale(0.86);
}

.muteMusic {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
}
.playMusic {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
}

#profits {
  margin-left: 20px;
}

.achievementBox {
  position: fixed;
  bottom: 10px;
  left: 38vw;
  display: none;
}

.closeButton {
  background-color: rgb(8, 77, 42);
  border: solid lightgreen;
  border-radius: 3px;
  color: lightgreen;
  cursor: pointer;
  position: absolute;
  top: 5px; right: 5px;
}

.achievement {
  background-color: rgb(8, 77, 42);
  border: solid lightgreen 2px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.achievementSubtext {
  font-size: 30px;
  font-family: tf2 secondary !important;
}

.achievementSubtext2 {
  font-family: tf2 secondary;
  font-size: 20px;
}

.randomEventBox {
  position: fixed;
  top: 0; left: 0;
  color: lightgreen;
  background-color: rgb(8, 77, 42);
  border: solid lightgreen 2px;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

#cpsValue {
  margin-left: 20px;
  font-size: 20px;
  font-family: tf2 secondary;
}

#debuffText {
  position: fixed;
  bottom: 0px; left: 0;
  color: lightgreen;
  background-color: rgb(8, 77, 42);
  border: solid lightgreen 2px;
  border-radius: 10px;
  font-size: 30px;
  padding: 20px;
  display: none;
}